@charset "UTF-8";

body{
    background-color: #8C705F;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #E5F2C9 ;
}

h1#principal{
    text-align: center;
    color: #8C705F;
    background-color: #1E1A1D;
}

h2{
    color: #E5F2C9 ;
}

.básico{
    color: #4A314D ;
}

.intermediário{
    color: #7E78D2;
}

.avançado{
    color: #E396DF;
}

.destaque
{
    background-color: rgba(189, 189, 85, 0.705);
}