@charset "UTF-8";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/*font-family: 'Bai Jamjuree', sans-serif;*/


/*
## Colors

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%)*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    height: 100vh;
    font-size: 18px;
    background-color: rgb(250, 246, 246);
}


/*HEADER
000000--------------*/

header h2 {
    text-align: center;
    padding: 10px;
}

header p {
    text-align: center;
    line-height: 1.5em;
    color: rgb(139, 139, 139);
    padding: 10px 15px 15px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#download {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 90px;
}

#download a{
    display: block;
}

.download-ios {
    font-weight: bold;
    background-color:hsl(171, 66%, 44%) ;
    color: white;
    text-align: center;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 3px 0px hsla(171, 66%, 35%, 0.856);
    border-radius: 40px;
    transition-duration: 0.5s;
}

.download-ios:hover {
    background-color: white;
    color:hsl(171, 66%, 44%) ;
    border: 1px solid hsl(171, 66%, 44%);
}

.download-mac {
    font-weight: bold;
    background-color: hsl(233, 100%, 69%);
    color: white;
    text-align: center;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 3px 0px hsla(233, 97%, 60%, 0.836);
    border-radius: 40px;
    transition-duration: 0.5s;
}

.download-mac:hover {
    background: white;
    color:hsl(233, 100%, 69%);
    border: 1px solid hsl(233, 100%, 69%);
}

header {
    background: url(../images/bg-header-mobile.png) no-repeat center top;
    background-size: cover;
}

#image-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 30px 50px 30px;
}

/*FIM HEADER
00000000-------------*/

/*SECTION SNIPPETS*/
#snippets-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

#image-computer {
    width: 330px;
    margin-bottom: 50px;
}

/*SECTION SEPARATE*/


/*SECTION CLIPBOARD*/

#section-clipboard {
    margin-bottom: 90px;
}

#devices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-devices {
    width: 330px;
}

/*SECTION SUPERCHARGE*/
#supercharge {
    margin-bottom: 50px;
}

/*SECTION BLACKLISTS*/
#blacklists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

#img-blacklists {
    width: 70px;
    padding: 22px;
}

/*TEXT SNIPPETS*/
#text-snippets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

#icon-text {
    width: 70px;
    padding: 22px;
}

/*SECTION SNEAK*/
#section-sneak-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#icon-preview {
    width: 70px;
    padding: 22px;
}

/*COMPANIES */
#companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 90px;
}

.img-companies {
    width: 140px;
}

/*footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.205);
    padding: 50px 50px 0px 50px;
}

footer a {
    display: block;
    color: rgb(139, 139, 139);
    padding: 5px;
    text-align: center;
}

footer li {
    padding: 8px;
}

#logo-image {
    width: 50px;
    margin-bottom: 10px;
}

#social {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    gap: 25px;
}

/*Formatações gerais
0---------------*/
h2 {
    font-weight: bold;
    font-size: 1.9em;
    color: hsl(210, 10%, 33%);
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    line-height: 1.5em;
    color: rgb(139, 139, 139);
    padding: 8px 15px 15px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}