@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte-header:'Passion One', sans-serif, cursive;
    --fonte-padrao: 'Sriracha', cursive;
    --fonte-paragrafo: 'Verdana','Geneva', 'Tahoma', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body{
    min-height: 100vh;
    background-color: lightgray;
}

header{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-family: var(--fonte-header);
    font-size: 10vw;
    font-variant: small-caps;
    letter-spacing: 2px;
}

header > p{
    display: block;
    padding-bottom: 50px;
    font-family: var(--fonte-paragrafo);
}

header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

section{
    display: block;
    background-color: white;
    color: black;
    font-family: var(--fonte-padrao);
    padding-top: vh;
    line-height: 2em;
    font-size: 3.5vw;
    padding-left: 30px;
}

section > p{
    padding-bottom: 10vw;
}

.imagem {
    background: rgba(0, 0, 0, 0.37) url('pacote-d012/imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    color: white;
    padding: 5vh;
    padding-bottom: 5vw;
}

.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}
.imagem-dois {
    background: rgba(0, 0, 0, 0.37) url('pacote-d012/imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    color: white;
    padding: 5vh;
    padding-bottom: 5vw;
    
}

.imagem-dois > p{
    display: inline-block;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: var(--fonte-paragrafo);
    padding: 0.5vh;
    font-size: 1em;
}
footer > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer >a:hover{
    text-decoration: underline;
    color: lightgray;
    transition-duration: 1s;
}