@charset "UTF-8";
/*TODAS AS DEMAIS MIDIAS*/

/*TYPICAL DEVICE BREAKPOINTS

CELULAR: 320PX - 480PX
TABLET: 481px - 768px
LAPTOP: 769px - 1024px
DESKTOP: 1025px - 1200px
TV: MIN 1201px - 
*/

@media print {
* {
    font-family: 'Courier New', Courier, monospace;
}

    body {
        background: url(../imagens/back-print.jpg) no-repeat center center;
    }

    main h1 {
        text-shadow: none;
        color: black;
        border: 2px solid black;
    }
    
    #phone {
        display: none;
    }

    #print {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: url(../imagens/back-tablet.jpg) no-repeat center center;
        background-size: cover;
    }

    #tablet {
        display: block;
    }

    #phone {
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    body {
        background: url(../imagens/back-pc.jpg) no-repeat center center;
        background-size: cover;
    }

    #phone {
        display: none;
    }
    
    #pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: url(../imagens/back-tv.jpg) no-repeat center center ;
        background-size: cover;
    }  

    #phone {
        display: none;
    }

    #tv{
        display: block;
    }

    main {
        width: 700px;
    }
}